
<%- include("../layouts/userHeader.ejs") %>




 



    <main class="main single-page">
       
        <section class="section-padding">
            <div class="container pt-25">
                <div class="row">
                    <div class="col-lg-6 align-self-center mb-lg-0 mb-4">
                        <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">About Trendy_Go</h6>
                        <h3 class="font-heading mb-40">
                            Trendy_Go is a fully functioning E-commerce website to sell our brands under the categories: <br><br> "Sweatshirt", "Hoodies", "Cardigans", "T-shirts", "Shirts", "Tops & Tunics" exclusively for women.
                        </h3>
                     
                        <p>
                            "Trendy_Go, an eCommerce platform built with JavaScript, Express.js, EJS, HTML, CSS, Bootstrap, and MongoDB, offers a seamless experience for purchasing branded clothes. With a user-friendly interface and robust backend, it simplifies online shopping, providing customers with a diverse range of cloth options." </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="assets/imgs/page/about-1.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <br><br><br> <br><br><br>
      


      






    </main>

    <%- include("../layouts/userFooter.ejs") %>


    